@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  /* --swiper-pagination-bottom: 0; */
  --swiper-pagination-color: #4f8f46;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.filter {
  height: 38px;
  padding: 0 10px;
  border-radius: 6px;
  font-size: 13px;
  background: #e5e5e5;
  color: #333;
  outline: none;
}

.thumb-dots-custom.swiper-pagination-bullets {
  text-align: center;
  display: block;
  margin: auto;
  transform: translateX(0%) !important;
}

.input {
  @apply w-full h-[44px] px-4 rounded-md border border-[#dcdcdc] bg-white text-[14px] focus:outline-none focus:border-green-600;
}